@use "./themes/dark.scss";
@use "./themes/light.scss";
@use "./additional/global.scss";
@use "./additional/reset.scss";
@use "./additional/animations.scss";

.app {
  font: var(--font-l);
  background: var(--bg-color);
  color: var(--text-color);
  min-height: 100vh;
  min-width: 320px;
  overflow: hidden;
  transition: var(--parent-transition);
}

.container {
  margin: 0 auto;
  max-width: 1600px;
  padding: 0 100px;
}

.violet {
  background-color: var(--neutral-gray);
  padding: 200px 100px;
  max-width: unset;
}

@media screen and (max-width: 975px) {
  .container {
    padding: 0 15px;
  }
  .violet {
    padding: 150px 15px;
  }
}
