.container {
  background-color: var(--neutral-dark-violet);
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 100px 100px 120px;
  transition: var(--parent-transition);
  gap: 50px;
}

@media screen and (max-width: 845px) {
  .container {
    padding: 80px 15px 100px;
  }
}

@media screen and (max-width: 600px) {
  .container {
    padding: 40px 15px 60px;
  }
}
