.common {
  cursor: pointer;
  padding: 10px 25px;
  border-radius: 32px;
  border: none;
  transition: var(--parent-transition);
  display: flex;
  width: fit-content;
  text-decoration: none;
  white-space: nowrap;
  justify-content: center;
  align-items: center;
  font-weight: var(--font-weight-large);
  z-index: 5;
  height: fit-content;

  &:hover {
    opacity: 0.7;
  }
}

.CLEAR {
  color: var(--neutral-grayish-violet);
}

.FULLCYAN {
  background-color: var(--primary-cyan);
  color: var(--bg-color);
}

.MODAL {
  width: 30px;
  height: 20px;
  background-color: transparent;
  padding: 0;
  border-radius: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  opacity: 0;
  span {
    transition: var(--parent-transition);
    width: 30px;
    height: 3px;
    background-color: var(--primary-violet);
  }
}

.CLOSE {
  width: 30px;
  height: 30px;
  background-color: transparent;
  padding: 0;
  border-radius: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  span {
    transition: var(--parent-transition);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 30px;
    height: 3px;
    background-color: var(--secondary-red);
  }
  span:nth-of-type(2) {
    opacity: 0;
  }
  span:nth-of-type(1) {
    transform: rotate(-45deg);
  }
  span:nth-of-type(3) {
    transform: rotate(45deg);
  }
}

@media screen and (max-width: 456px) {
  .common {
    padding: 4px 6px;
  }
  .MODAL {
    padding: 0;
  }
}
