.input {
  border: none;
  background-color: black;
  border-radius: 10px;
  padding: 0 10px;
  z-index: 5;
  color: var(--neutral-blue);
  &::placeholder {
    font: var(--font-l);
  }
}

.CLEAR {
  background-color: var(--bg-color);
}
