.app.dark {
  --bg-color: hsl(240, 10%, 10%); /* Очень темный фон */
  --text-color: hsl(0, 0%, 95%); /* Почти белый текст для контраста */

  // Primary
  --primary-cyan: hsl(180, 100%, 18%); /* Яркий циан для акцентов */
  --primary-violet: hsl(270, 50%, 50%); /* Фиолетовый с насыщенностью */

  // Secondary
  --secondary-red: hsl(0, 80%, 60%); /* Яркий красный для ошибок и предупреждений */

  // Neutral
  --neutral-gray: hsl(240, 5%, 40%); /* Серый для второстепенных элементов */
  --neutral-grayish-violet: hsl(270, 10%, 60%); /* Светлый серо-фиолетовый */
  --neutral-blue: hsl(240, 20%, 20%); /* Темный синий для фона */
  --neutral-dark-violet: hsl(260, 15%, 15%); /* Очень темный фиолетовый для акцентов */
}
