.navigation {
  display: flex;
  gap: 50px;

  width: 100%;
  margin-left: 80px;
}
.item_nav {
  list-style: none;
  color: var(--neutral-grayish-violet);
  font-weight: var(--font-weight-large);

  a {
    text-decoration: none;
    color: var(--neutral-grayish-violet);
    transition: var(--parent-transition);
    &:hover {
      color: var(--neutral-dark-violet);
    }
  }
}
@media screen and (max-width: 1240px) {
  .navigation {
    gap: 25px;
    margin-left: 40px;
  }
}
