.container {
  padding: 250px 0 0;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.textWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title {
  color: var(--neutral-blue);
  font: var(--font-xxl);
  transition: var(--parent-transition);
}

.text {
  color: var(--neutral-grayish-violet);
  margin-bottom: 15px;
  font: var(--font-xl);
  transition: var(--parent-transition);
}

.backgroundImage {
  position: relative;
  transform: translateX(100px);
}

.bgcSizeImage {
  max-width: 100%; /* Максимальная ширина — 100% от родительского контейнера */
  width: 100%;
  min-width: 700px;
  height: auto; /* Высота изменяется пропорционально */
  object-fit: contain; /* Вписывает изображение целиком, сохраняя пропорции */
}

@media screen and (max-width: 1275px) {
  .container {
    flex-direction: column-reverse;
    gap: 30px;
    justify-content: center;
    align-items: center;
    padding: 200px 0 0;
  }
}

@media screen and (max-width: 975px) {
  .container {
    padding: 150px 0 0;
  }
  .textWrapper {
    align-items: center;
  }
  .title {
    text-align: center;
  }
  .text {
    text-align: center;
  }
}

@media screen and (max-width: 575px) {
  .container {
    padding: 120px 0 0;
  }
  .bgcSizeImage {
    min-width: 500px;
  }
}

@media screen and (max-width: 390px) {
  .backgroundImage {
    transform: translateX(70px);
  }
  .bgcSizeImage {
    min-width: 400px;
  }
}
