.header {
  background-color: var(--bg-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 100px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;

  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

@media screen and (max-width: 975px) {
  .header {
    padding: 20px 15px;
  }
}
