.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  padding: 40px 0;
  background-color: var(--neutral-blue);
  position: relative;
}
.container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: url("../../../shared/assets/svg/bg-boost-desktop.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
}
.title {
  z-index: 5;
  font: var(--font-xl);
  color: var(--neutral-gray);
}
@media screen and (max-width: 360px) {
  .container::before {
    background: url("../../../shared/assets/svg/bg-boost-mobile.svg");
  }
}
